* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;

}

a {
    text-decoration: none;
}

header {
    display: flex;
    background-image: url(../assets/imagen/fondo.jpg);
    justify-content: space-between;
    padding: 15px 0 15px 0;
}

nav {
    width: 50%;

}

.navegacion {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;


}

.navegacion li a {
    padding: 20px;
    background-image: url(../assets/imagen/fondo.jpg);
    border-radius: 15%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;


}

.navegacion li a:hover {
    background: rgb(187, 187, 187);

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    transition: all .5s;
}

header div {
    width: 50%;


}

header div img {
    width: 15%;
    border-radius: 15%;
    padding: 5px;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



footer {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/imagen/fondo.jpg);
    margin-top: auto;
    height: 10%;

}

footer div {
    width: 100%;
}

footer div p {
    text-align: center;

}

i {
    font-size: 70px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: 100vw 100vh;
    margin: 0%;
    background-attachment: fixed;
    background-image: url(../assets/imagen/fondo.jpg)
}

img {
    max-width: 100%;
}

.conteiner-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;

}

.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img {
    width: 50%;
    height: 150%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure {
    overflow: hidden;
}

.item:hover img {
    transform: scale(1.2);
}

.info-producto {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price {
    font-size: 18px;
    font-weight: 900;
}

.info-producto button {
    border: none;
    background: none;
    background-color: black;
    color: aliceblue;
    padding: 15px 15px;
    justify-content: space-around;
    cursor: pointer;
}

.main {
    display: flex;
    padding: 30px 0 40px 0;
}

.title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    color: rgb(63, 63, 63);
    animation-name: cambiarcolor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    text-shadow: 2px 5px rgb(0, 0, 0);
}

@keyframes cambiarcolor {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(.3);
    }

    40% {
        transform: scale(.6);
    }

    60% {
        transform: scale(.9);
    }

    80% {
        transform: scale(1);
    }

}


.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid gray;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price {
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

form {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px;
    margin-top: 20px;
}

h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton {
    background: #feffff;
    color: rgb(0, 0, 0);
    padding: 20px;
}

#boton:hover {
    cursor: pointer;
}



.remera {
    color: #000000;

}

.buzos {
    color: black
}

.pantalones {
    color: #000000;
}


.sobre_nosotros_h3 {
    display: flex;
    justify-content: center;
}

.sobre_nosotros_p {
    display: flex;
    justify-content: center;
}

p{
    text-align: center;
    ;
}

h5{
    color: #575757;
    text-shadow: 1px 1px rgb(0, 0, 0);
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 900;
}

.carousel-item{
    height: 900px;

}

@media (max-width: 600px) {
    .conteiner-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .formulario {
        width: 80%
    }

    .navegacion {
        display: flex;
        flex-direction: column;
    }

    .navegacion  li a {
        display: flex;
        flex-direction: column;
    }
    
    

    .imagen_principal{
        width: 100%;
        
    }






